<!DOCTYPE html5>
<html lang="zh-CN">
<head> 
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta http-equiv="Content-Style-Type" content="text/css" /> 
    <meta http-equiv="Content-Script-Type" content="text/javascript" /> 
    <meta name="author" content="Takashi Ohida" /> 
    <meta name="keywords" content="○×, キーワード, ソーシャル, フォークソノミー, keyword, social,           folksonomy" /> 
    <meta name="description" content="コトノハは、'経験' '感じたこと'                                       '好き嫌い'などを○×で共有するサービスです" /> 
    <title>コトノハ - dlutcatさんのホーム</title> 
    <link rel="home" title="コトノハ" href="/" /> 
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen,tv" title="標準" /> 
</head>
