<h1>
    <a href="/home">
        <img src="http://kotonoha.s3.amazonaws.com/images/logo.png" alt="コトノハ"              title="コトノハ" width="160" height="44" />
    </a>
</h1>
{% if session.user %}
<dl class="block" id="header">
    <dt class="hidden">Login menu</dt>
    <dd>
        <ul>
            <li>
                Logged in as dlutcat |
                <a href="/setup">Setup</a> |
                <a href="/doc/  help">Help</a> |
                <a href="/logout">Log out</a>
            </li>
            <li>
                <div id="total_done_count"></div>
            </li>
        </ul>
    </dd>
</dl>
<div class="clear"></div>
<dl id="menu">
    <dt>メニュー</dt>
    <dd style="position:relative;">
        <ul>
            <li><a href="/home" tabindex="1">Home</a></li>
            <li><a href="/user/dlutcat" tabindex="2">Your kotolist</a></li>
            <li><a href="/message" tabindex="3">Message</a></li>
            <li><a href="/inbox" tabindex="4">Inbox</a></li>
            <li><a href="/stream" tabindex="5">Stream</a></li>
            <li><a href="/hot" tabindex="6">Hot</a></li>
            <li><a href="/pop" tabindex="7">Pop</a></li>
            <li><a href="/all" tabindex="8">All koto</a></li>
            <li><a href="/search" tabindex="9">Search</a></li>
            <li><a href="/post" tabindex="10">Post</a></li>
            <li><a href="/user/search" tabindex="11">Users</a></li>
        </ul>
        <ul
            <div style="text-align:right;">
            <a href="/doc/mobile"> 
                <img src="/images/mobile_phone.png" />
                <span style="font-size:11px;">携帯でもコトノハ</span>
            </a>
            </div>
        </ul>
    </dd>
</dl>
{% else %}
<div class="f12 r">
  <a href="/signup/">注册</a>
  <a href="/login/">登录</a>
</div>
<div class="clear"></div>
{% endif %}
