{% extends 'layout.html' %}
{% block maincontents %}
    <div class="maincontents_inner"> 
            <dl class="section" id="information"><!--start information --> 
                <dt style="font-size:11px;">お知らせ</dt> 
                <dd> 
                    <ul> 
                        <li><a href="/invite">お友だちをコトノハに招待してみませんか？</a></li> 
                    </ul> 
                </dd> 
            </dl><!--/information --> 
                        
            <dl id="hot20"><!--start hot20 --> 
                <dt>HOT 20(1時間ごとに更新)</dt> 
                <dd class="mainkotowrapper" style="padding-bottom: 0;"> 
                    <span class="koto_2" style="font-size: 13.73px;">
                        <a href="/no/239890">「ありがとう」「ごめんなさい」って素直に言えない→○言える→×<nobr>(72)</nobr></a>
                    </span> 
                    <img src="/images/bullet.gif" alt="/" />                                        
                    <span class="koto_2" style="font-size: 13.03px;">
                        <a href="/no/239980">あなたの仕事は立ち仕事〇　座り仕事×<nobr>(40)</nobr></a>
                    </span> 
                    <img src="/images/bullet.gif" alt="/" />                                        
                    <span class="koto_1" style="font-size: 12.82px;">
                        <a href="/no/239991">あーー女ってめんどくさい…私も女だけどやっぱり…めんどくさい<nobr>(32)</nobr></a>
                    </span> 
                    <img src="/images/bullet.gif" alt="/" />
                    <p class="more">
                        <img src="/images/pt_or.gif" alt="&raquo;" align="middle" />&nbsp;
                        <a href="/hot" title="Hot koto 300 in 24h">more</a>
                    </p> 
                </dd> 
            </dl><!--/hot20 --> 
            
            <dl id="answeredkoto"><!--start answeredkoto --> 
                <dt>回答したコトの更新情報</dt> 
                <dd class="mainkotowrapper"> 
                    <span class="koto_2" style="font-size: 11.35px;">
                        <a href="/no/239980">あなたの仕事は立ち仕事〇　座り仕事×<nobr>(40)</nobr></a>
                    </span> 
                    <img src="/images/bullet.gif" alt="/" />                                            
                    <span class="koto_2" style="font-size: 11.35px;">
                        <a href="/no/240001">虫を怖がる男の人<nobr>(40)</nobr></a>
                    </span> 
                    <img src="/images/bullet.gif" alt="/" />                                            
                    <span class="koto_2" style="font-size: 11.46px;">
                        <a href="/no/239890">「ありがとう」「ごめんなさい」って素直に言えない→○言える→×<nobr>(72)</nobr></a>
                    </span> 
                </dd> 
            </dl><!--/answeredkoto --> 
            
            <dl class="section"> 
            <img src="/images/pt_or.gif" /> 
            ○×
            をブログにはってみよー！ 
            <a href="/doc/koto_roll">コトノハRollでのやり方</a> | 
            <a href="/doc/rss">RSSでのやり方</a> 
            </dl> 
 
            <dl class="section"> 
                <img src="/images/pt_or.gif" /> 
                ○×にトラックバックしよー！
                <a href="/doc/trackback">トラックバックについて</a> | <a href="/tb/recent">新着一覧</a> 
            </dl> 
            
            <dl class="section"> 
            <img src="/images/pt_or.gif" /> 
            <a href="http://socialtunes.net/">モノ系ソーシャルもよろしくどうぞ！ → Socialtunes</a> 
            </dl> 
                        
        </div> 
        
        </div><!--/maincontents --> 
        
        <div class="block" id="subcontents"><!--start subcontents --> 
        <div class="subcontents_inner"><!--start subcontents_inner --> 
            <dl class="section" id="homeprofile"><!--start homeprofile --> 
                <dt class="profileicon"><a href="/user/dlutcat"><img src="http://kotonoha.s3.amazonaws.com/profile/dlutcat_97c7_s.jpg" title="dlutcat" alt="dlutcat" align="middle" /></a></dt> 
                    <dd class="profileicon"><a href="/user/dlutcat">dlutcat</a></dd> 
                <dt class="marubatsu_cnt">○×の数</dt> 
                    <dd class="marubatsu_cnt"> 
                        <img src="/images/maru.png" alt=" 
                        ○
                        " />7 
                        <img src="/images/batsu.png" alt=" 
                        ×
                        " />13
                                            </dd> 
                                            </dl><!-- /homeprofile --> 
 
                        
            
                        
                        
            <dl id="recentkoto"><!--start recentkoto --> 
                <dt>最近更新されたコト</dt> 
                    <dd class="kotowrapper"> 
                        <ul> 
                            <li class="dot_orange">
                                <span class="koto_0" >
                                    <a href="/no/109900" title="歯磨き粉と洗顔料のチューブを間違えたことがある(56)">歯磨き粉と洗顔料のチューブを間違えたことがある<nobr>(56)</nobr>
                                    </a>
                                </span>
                            </li> 
                            <li class="dot_orange">
                                <span class="koto_0" >
                                    <a href="/no/34026" title="釣り(83)">釣り<nobr>(83)</nobr></a>
                                </span>
                            </li> 
                            <li class="dot_orange">
                                <span class="koto_0" >
                                    <a href="/no/240031" title="夏になると冬が恋しくなる(1)">夏になると冬が恋しくなる<nobr>(1)</nobr>
                                    </a>
                                </span>
                            </li> 
                       </ul> 
                    </dd> 
            </dl><!-- /recentkoto --> 
             
            <dl id="newkoto"><!--start newkoto --> 
                <dt>新着コト</dt> 
                <dd class="kotowrapper"> 
                    <ul> 
                        <li class="dot_orange">
                            <span class="koto_0" >
                                <a href="/no/240027" title="コトノハのランダム機能を知っていた(6)">コトノハのランダム機能を知っていた<nobr>(6)</nobr>
                                </a>
                            </span>
                        </li> 
                        <li class="dot_orange">
                            <span class="koto_0" >
                                <a href="/no/240026" title="暑い時に熱いものを食べるのは、 ○…理にかなっていると思う ×…ただのやせ我慢だと思う(2)">暑い時に熱いものを食べるのは、 ○…理にかなっていると思う ×…ただのやせ我慢だと思う<nobr>(2)</nobr>
                                </a>
                            </span>
                        </li> 
                    </ul> 
                    <p class="more">
                        <img src="/images/pt_or.gif" alt="&raquo;" align="middle" />&nbsp;
                        <a href="/all/sort=new" title="All koto">more</a>
                    </p> 
                </dd> 
            </dl><!--/newkoto --> 
                        
{% endblock %}            
</div><!--/container --> 
